.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.styled-select {
  width: 300px; 
  padding: 10px;
  font-size: 16px;
  font-family: 'Arial', sans-serif; 
  color: grey;
  border-radius: 5px; 
  border: 1px solid #ccc; 
}
